body {
    background-color: #002;
}
header {
    background-color: #003 !important;
}
article {
    background-color: #003 !important;
}
#name {
    color: #999 !important;
}
.name {
    color: #999 !important;
}
h4.priority {
    color: #999 !important;
}
p {
    color: #999 !important;
}
input, button[name=btn-filter], textarea, select {
    background-color: transparent !important;
}
#third.info h3, .task-name, select {
    color: #999 !important;
}
#form-login {
    margin-left: 15em !important;
}
div.description {
    float: unset !important;
    display: block !important;
    margin-top: 1em;
}
article form {
    float: unset !important;
}
#search {
    float: left;
}
.info {
    display: block !important;
}
form#task-detail {
    display: inline-block;
    float: left;
}
div#tasks {
    float: right;
    width: 70%;
}
