footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5em;
    background-color: #cef;
}
.pagination {
    margin: 0.2em 1em 0.2em 1em;
    text-decoration: none;
    color: #333;
}
#prev {
    float: left;
}
#next {
    float: left;
}
#count {
    display: inline;
    float: right;
}
