footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5em;
}
.pagination {
    margin: 0 1em 0 1em;
}
#prev {
    float: left;
}
#next {
    float: left;
}
#count {
    display: inline;
    float: right;
}
