header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.75em;
    background-color: #09f;
}
header ul {
    margin: 0;
    padding: 0;
}
header ul li {
    display: inline;
    padding: 0.5em;
    margin: auto;
    width: 7em;
}
header ul li.menu:hover {
    background-color: #05f;
}
header ul li h3 {
    display: inline;
}
header ul li img {
    height: 0.9em;
}
header ul li a, header ul li h3 {
    color: white;
    font-size: 150%;
    text-decoration: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.right.edge {
    margin-right: 0;
}
.left.edge {
    margin-left: 0;
}
#tasks {
    margin-left: 0.7em;
}
#users {
    margin-left: 0.6em;
}
#logout {
    margin-left: 0.2em;
}
#search {
    width: fit-content;
    padding: 0.275em;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#search form * {
    margin: 0;
    border: 0;
    background-color: #09f;
    color: white;
    font-size: 120%;
}
#search form input::-webkit-input-placeholder {
    color: #acf;
}
#user-name {
    width: fit-content;
}
#avatar-header {
    height: 0.7em;
}
#context {
    width: fit-content;
    border-left: 2px solid white;
}
