body, footer, article {
    background-color: transparent !important;
}
header, footer a {
    display:none;
}
.description, .details {
    display: block;
    float: auto;
}
article {
    border: 1px solid black;
}
.name, h4.priority, div.description p {
    color: black !important;
}
