#signup > input,button {
    width: 30%;
}
label[for] {
    display: none;
}
input.correct {
    border: 2px solid green;
}
input.incorrect {
    border: 2px solid red;
}
label.correct {
    display: inline;
    color: green;
}
label.incorrect {
    display: inline;
    color: red;
}
